<?xml version="1.0" ?>
<rss version="2.0">
  <channel>
    <title>MJ Stahl</title>
    <link>https://mjstahl.com</link>
    <image>
      <url>https://avatars2.githubusercontent.com/u/212726?s=88</url>
      <link>https://mjstahl.com</link>
    </image>
    <% posts.forEach(p => { %>
      <item>
        <title>
          <%= p.title %>
        </title>
        <description>
          <%= p.title %>
        </description>
        <pubDate>
          <%= p.utc %>
        </pubDate>
        <link>
          https://mjstahl.com/<%= p.href %>
        </link>
      </item>
    <% }) %>
  </channel>
</rss>